
h1,h2,p{
    text-align: center;
 }

/* grey background behind img */
.all {
    background:lightblue;
    
}

/* styling for the unordered list, no bullets etc.*/

ul{
    list-style-type: none;
    display: flex;
   

} 

/* social media icons  */

li img {
    width: 100px; 
    margin: 20px;  
    display: block;
    background: orange;
    color: black;
    border-radius: 100%;
    cursor: pointer;
    transition: 1.2s ease-in;

}

img:hover{
    background: green;
    transform: rotate(360deg);
    
}
/* size of the icons*/

li{
    box-shadow: black;
    border-radius: 40%;
    margin: 0 auto;
    display: block;
    padding: 1px;
 
}

.flex-container{
    display: flex;
    justify-content: space-between;
    
}
.BG{
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    position: relative;
    background: orange;
    color: black;
    border-radius: 100%;
    padding: 8px;
    cursor: pointer;
    transition: 1.2s ease-in;
    
}